*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 400px 1000px 800px ;
}

.red{
    background-color: white;
    padding: 10px;

}

nav{
    padding-left: 30px;
    display: grid;
}

.blue{
    background-color: orange;
    padding: 14px;
    font-weight: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.green{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    padding: 0px 0px 0px 30px;

}


.bg-image{
    background-image: url(/images/google02.jpg);
}

.greenpara{
    padding: 130px 50px;
}
.fourtwo{
    padding: 10px 130px;
    background-color:  #4284f5;
}
.fouth{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 400px 400px;
    gap: 20px;
}

.show{
    margin: 30px 0;
    color: white;
    font-size: 13px;
}

.card{
    background-color: white;
    box-sizing: 2px 2px 5px gray;
}

.fifth{
    background-color: white;
    padding: 10px;
    display: grid;
    
}

.fiftwo{
    padding: 1px 30px 0px 130px;
    background-color:  white;
}

.pic{
    display: flex;
}

.all{
    background-color: #f2f2f2;
    margin: 0 0 0 130px ;
    height: 200px;
    width: 80%;
    box-shadow: 2px 2px 5px gray;
    
}

.move{
    margin-left: 30px;
    margin-top: 40px;
}

.shift{
    margin-left: 30px;
    margin-top: 20px;
}

.pod{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 130px;
    gap: 20px;
    padding: 10px 130px;
    border-radius: 5px;
    text-align: center;
}

.cardv{
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    padding: 20px;
}

.next{
    padding: 10px 130px;
}

.last{
    background-color:#f2f2f2;
    padding: 10px 130px;
    display: grid;
    grid-template-rows: 300px;
}

.cardall{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 100px;
    gap: 20px;
}

.cardd{
    box-sizing: 2px 2px 5px gray;
    text-align: center;
    padding: 70px 0px 0px 0px;
}
.h3{
    padding: 20px 20px 20px 20px;
}

.cardall1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px;
}

.carddd{
    box-sizing: 2px 2px 5px gray;
    padding: 70px 0px 0px 0px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: end;
    text-align: end;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: gray;
}

button{
    text-decoration: none;
    background-color: #4284f5;
    border: none;.
    border-radius: 2px;
    margin-left: 910px;
    color: white;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
